
.image-container:hover .poster{
    height: 100%;
    width: 100%;
}
@media only screen and (min-width:400px) {
.image-container:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 1s;
    z-index: 10;
}    
}

.image-container:hover .overlay{
 opacity: 1;
}
.image-container{
       padding: 0px;
       padding-bottom: 0px;
        height: 300px;
        width: 100px;
}
.image-container img{
        height: 305px;
        width: 190px;
}



.overlay{
    position:absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

.card{
    height: 300px;
    width: 300px;
     margin: 0px;
    border: 0px;
    padding-left:0px;
}
.card-text{
    height: 150px;
    width: auto;
    overflow-y: auto;
}
.card-link{
    text-align: center;
}
.movie-row{
    padding-bottom: 30px;
    padding-left: 5px;
}
.card-title{
    width: auto;
    height: 50px;
    overflow-y:auto;
}
.card-col{
    width: 200px;
    padding-left: 0px;
}
.card-body{
    background-color: #00bc8c;
}

@media only screen and (max-width:800px) {
   
   
 .card,.card-col{
        width: 100%;
    }
 .image-container img,.image-container{
    width: 100%;
 }   
    .image-container img{
        object-fit:contain;
    }


.image-container:hover .poster{
    height: 100%;
    width: 100%;
}

.image-container:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 1s;
    z-index: 10;
}
.image-container:hover .overlay{
 opacity: 1;
}
}
