.image-container:hover .poster{
    height: 80%;
    width: 100%;
}


.image-container:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 1s;
}
.image-container:hover .overlay{
 opacity: 1;
}

.overlay{
    position:relative;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}
.poster{
    height: 90%;
    width: 100%;
}
.card{
    margin: 0px;
    border: 0px;
    padding-left:0px;
}
.card-col{
    padding-left: 0px;
}
.movie-row{
    padding: 5px;
}